h1{
    color: blue;
    text-decoration: underline;
    background: gold;
}

h2{
    color: purple;
    font-weight: bold;
    font-size: 25px;
    border: 2px solid orange;
}

section{
    width: 50%;
    height: 200px;
    background: gray;
    border: black;
    color: white;
}

footer{
    background: black;
    border: 2px solid light green;
    color: white;

}

h3{
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}